<mat-card (click)='navigateToGiftCardList()'>
  <mat-card-actions>
    <button mat-button>
      <mat-icon>keyboard_backspace</mat-icon>    
    <span>&nbsp; Back to gift cards</span></button>
  </mat-card-actions>
</mat-card>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="giftCardId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gift Card Number</th>
      <td mat-cell *matCellDef="let row">{{row.giftCardId}}</td>
    </ng-container>
    <ng-container matColumnDef="amountUsed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Amount</th>
      <td mat-cell *matCellDef="let row">{{row.amountUsed | currency}}</td>
    </ng-container>
    <ng-container matColumnDef="transactionDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Date</th>
      <td mat-cell *matCellDef="let row">{{row.transactionDate | date}}</td>
    </ng-container>
    <ng-container matColumnDef="transactionNote">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Note</th>
      <td mat-cell *matCellDef="let row">{{row.transactionNote}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="500" [pageSizeOptions]="[500, 50, 5]"></mat-paginator>
</div>
