<div fxLayout="row" fxFlexFill>
  <div fxFlex>  Joe    <mwl-calendar-day-view [dayStartHour]='7' [dayEndHour]='20' [viewDate]="viewDate" [events]="events" [hourSegments]="12"></mwl-calendar-day-view>  </div>
  <div fxFlex>  Tammy  <mwl-calendar-day-view [dayStartHour]='7' [dayEndHour]='20' [viewDate]="viewDate" [events]="events" [hourSegments]="12"></mwl-calendar-day-view>  </div>
  <div fxFlex>  Hannah <mwl-calendar-day-view [dayStartHour]='7' [dayEndHour]='20' [viewDate]="viewDate" [events]="events" [hourSegments]="12"></mwl-calendar-day-view>  </div>
  <div fxFlex>  Julia  <mwl-calendar-day-view [dayStartHour]='7' [dayEndHour]='20' [viewDate]="viewDate" [events]="events" [hourSegments]="12"></mwl-calendar-day-view>  </div>
  <div fxFlex>  Ping   <mwl-calendar-day-view [dayStartHour]='7' [dayEndHour]='20' [viewDate]="viewDate" [events]="events" [hourSegments]="12"></mwl-calendar-day-view>  </div>
  <div fxFlex>  Susan  <mwl-calendar-day-view [dayStartHour]='7' [dayEndHour]='20' [viewDate]="viewDate" [events]="events" [hourSegments]="12"></mwl-calendar-day-view>  </div>
  <div fxFlex>  Johnny <mwl-calendar-day-view [dayStartHour]='7' [dayEndHour]='20' [viewDate]="viewDate" [events]="events" [hourSegments]="12"></mwl-calendar-day-view>  </div>
  <div fxFlex>  Kathy  <mwl-calendar-day-view [dayStartHour]='7' [dayEndHour]='20' [viewDate]="viewDate" [events]="events" [hourSegments]="12"></mwl-calendar-day-view>  </div>
  <div fxFlex>  Iris   <mwl-calendar-day-view [dayStartHour]='7' [dayEndHour]='20' [viewDate]="viewDate" [events]="events" [hourSegments]="12"></mwl-calendar-day-view>  </div>
  <div fxFlex>  Ahn    <mwl-calendar-day-view [dayStartHour]='7' [dayEndHour]='20' [viewDate]="viewDate" [events]="events" [hourSegments]="12"></mwl-calendar-day-view>  </div>
  <div fxFlex>  Johanna<mwl-calendar-day-view [dayStartHour]='7' [dayEndHour]='20' [viewDate]="viewDate" [events]="events" [hourSegments]="12"></mwl-calendar-day-view>  </div>
</div>